html {
    font-size: $font-base-size;
    font-family: $font-family;
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    position: relative;
}

//Customizing the browser's native text-selector to match the Design System
body *::selection {
    color: $white;
    background: $primary-color-main; // WebKit/Blink Browsers
}

body *::-moz-selection {
    color: $white;
    background: $primary-color-main; //Gecko Browsers
}

.material-icons {
    font-size: rem(14px);
}

.row { // Add a padding to the content on mobile to follow design
    padding: 1.5rem 0.8rem;

    @media (min-width: $screen-md) {
        padding: 0;
    }
}

.row-padding {
    @media (min-width: $screen-md) {
        padding: rem(96px) 0;
    }
}

.row-padding-top {
    @media (min-width: $screen-md) {
        padding-top: rem(96px);
    }
}

.row-padding-bottom {
    @media (min-width: $screen-md) {
        padding-bottom: rem(96px);
    }
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}

#skip-to-link:focus {
    position: absolute;
    width: auto;
    height: auto;
    overflow: visible;
    clip: auto;
    padding: 25px;
    background-color: $grey-04;
    z-index: 100;
}

// Don't use animations in responsive version
@media (max-width: $screen-md) {
    .animate__animated {
      animation-duration: 0s !important;
    }
  }
