.home {

    .first-banner {
        background-color: $grey-04;

        .column-1 {
            @media (min-width: $screen-md) {
                border-right: 1px solid $grey-03;
                margin-left: 4rem;
                padding-right: 4rem;
            }
        }

        .column-2 {
            @media (min-width: $screen-md) {
                padding: 0rem 4rem;
            }
        }
    }

    .column-text {
        @media (min-width: $screen-md) {
            padding: 0rem 3rem;
        }
    }


    h3 {
        margin: 0;
    }

    .steps {

        img {
            padding: rem(16px) 0;
        }

        @media (min-width: $screen-lg) {
            padding: rem(64px) rem(96px) rem(64px) 0rem;

            &:nth-child(4) {
                padding-right: 0;
            }
        }
    }

    .center-banner {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .more-help {
        background-color: $black;
        padding: 2rem;
        border-radius: 8px;

        .help-title {
            color: $font-white;
        }
    }

    .faqs {
        background-color: $grey-04;
    }
}
