.postbox {
    .intro-col {
        padding-bottom: 0rem;

        @media (min-width: 768px) {
            padding-bottom: 2rem;
        }
    }

    .search-bar {
        margin-bottom: 0;

        @media (min-width: $screen-md) {
            margin-bottom: 2rem;
        }
    }

    .filters-row {
        padding: 0;
    }

    .filters-col {
        padding-top: 0rem;
        display: flex;
        flex-direction: column;

        @media (min-width: $screen-xl) {
            flex-direction: row;
        }

        .date-filter {
            border-right: 1px solid $grey-04;

            .filter-mobile {
              display: none;
            }

            @media(min-width: $screen-xl){
                padding-right: 1rem;
                min-width: fit-content;
                margin-bottom: 1rem;
            }

            .filter-container {
                width: 100%;

                .btn-container {
                    border-radius: 0;

                    .date-icon {
                        display: none;
                        font-size: 1rem;

                        @media (min-width: $screen-lg) {
                            display: block;
                        }
                    }
                }

                .btn-container-dark {
                    border-radius: 0;
                }

                @media (min-width:$screen-xl) {
                    width: auto;

                    .btn-container {
                        border-radius: $radius-full;
                    }

                    .btn-container-dark {
                        border-radius: $radius-full;
                    }
                }

                .filter-content {
                    width: 100%;
                }
            }
        }

        .all-filters-container {
            display: flex;
            flex-direction: row-reverse;
            justify-content: flex-end;
            flex-wrap: wrap;
            width: 100%;
            padding: 0rem 0.8rem;
            margin-top: 1rem;

            @media (min-width: $screen-xl) {
                justify-content: flex-start;
                flex-direction: row;
                margin-top: 0;
            }

            .all-filters {
                display: flex;
                margin-left: 1rem;
                overflow-x: auto;

                @media (min-width: $screen-xl) {
                    overflow-x: inherit;
                    margin-left: 0;
                }

                .filter-container {
                    margin-right: 1rem;
                    margin-bottom: 1rem;
                }

                .filter-mobile {
                    display: block;

                    @media (min-width: $screen-xl) {
                        display: none;
                    }
                }

                .filter-desktop {
                    display: none;

                    @media (min-width: $screen-xl) {
                        display: block;
                    }
                }
            }

            .read-filter {
                @include filter-button;
                margin-right: 1rem;
                margin-bottom: 1rem;
                display: none;

                @media (min-width: $screen-xl) {
                    display: block;
                }
            }

            .read-filter.filter-border {
                border: 1.5px solid $black;
            }

            .all-filters-button {
                border-right: 1px solid $grey-04;
                padding-right: 1rem;

                @media (min-width: $screen-xl) {
                    padding-right: 0;
                    border-right: none;
                }
            }

        }
        .all-filters-container.fixed-filters {
            position: fixed;
            top: rem(80px);
            left: 0;
            background-color: $white;
            z-index: 10;
            padding-top: 1rem;

            @media (min-width: $screen-md) {
                top: rem(50px);
            }
        }
    }

    .results-container {
        border-top: 1px solid $grey-03;
        border-bottom: 1px solid $grey-03;
        margin-bottom: 1rem;

        p {
            margin-top: rem(16px);
        }

        .order-options {
            text-align: right;

            p {
                display: flex;
                justify-content: flex-end;
                gap: 0.3rem;

                .order-text {
                    display: none;

                    @media (min-width: $screen-lg) {
                        display: block;
                    }
                }

                .order-link {
                    display: flex;
                    align-items: center;
                }

                a {
                    text-decoration: none;

                    span {
                        text-decoration: underline;
                    }
                    span.material-icons-outlined {
                        text-decoration: none;
                        font-size: 1rem;
                    }
                }
            }
        }
    }

    .logo-icon {
        display: flex;
        justify-content: center;
        align-self: flex-start;


        @media (min-width: $screen-md) {
            align-self: center;
        }

        img {
            max-width: 40%;
        }
    }

    .post-container {
        margin-bottom: 1rem;
    }

    .post {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-direction: column;
        border-bottom: 1px solid $grey-03;
        position: relative;

        @media (min-width: $screen-md) {
            align-items: center;
            flex-direction: row;
        }

        h2 {
            margin: 0;
        }

        a {
            text-decoration: none;
            color: $black;
        }

        .tag-date-container {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 0.3rem;

            @media (min-width: $screen-md) {
                align-items: flex-end;
            }
        }

        .status-tag {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: .5rem;

            .material-icons-outlined {
                font-size: rem(20px);
            }
        }

        .tag-opened {
            color: $success;
        }

        .tag-closed {
            color: $error;
        }

        .tag-on-time {
            background-color: $warning;
            padding: 0.5rem 1rem;
            border-radius: $radius-full;
        }

        .overlay-link {
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 8;
        }
    }

    .no-results {
        p {
            width: 30%;
            text-align: center;
        }

        img {
            width: 300px;
            height: 300px;
        }
    }

    .pagination {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        margin-top: -3rem;

        @media (min-width: $screen-md) {
            margin-top: 0;
        }

        a {
            display: flex;
            align-items: center;
            text-decoration: none;

            span {
                text-decoration: underline;
            }

            span.material-icons {
                text-decoration: none;
            }
        }

        .material-icons {
            font-size: 1rem;
        }
    }

    .stage {
        padding: 5rem 0;
    }
}
