.postbox {
    .intro-col {
        padding-bottom: 0rem;

        @media (min-width: 768px) {
            padding-bottom: 2rem;
        }
    }

    .filters-col {
        padding-top: 0rem;

        @media (min-width: 768px) {
            padding-top: 2rem;
        }
    }

    .results-container {
        border-top: 1px solid $grey-03;
        border-bottom: 1px solid $grey-03;
        margin: 1rem 0rem;

        .order-options {
            text-align: right;
        }
    }

    .logo-icon {
        display: flex;
        justify-content: center;
        align-self: flex-start;


        @media (min-width: $screen-md) {
            align-self: center;
        }
        
        img {
            max-width: 40%;
        }
    }

    .post-container {
        margin-bottom: 1rem;
    }

    .post {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-direction: column;
        border-bottom: 1px solid $grey-03;
        
        @media (min-width: $screen-md) {
            align-items: center;
            flex-direction: row;
        }

        h2 {
            margin: 0;
        }
        
        .tag-date-container {
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            @media (min-width: $screen-md) {
                align-items: flex-end;
            }
        }

        .status-tag {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: .5rem;

            .material-icons-outlined {
                font-size: rem(20px);
            }
        }

        .tag-opened {
            color: $success;
        }

        .tag-closed {
            color: $error;
        }

        .tag-on-time {
            background-color: $warning;
            padding: 0.5rem 1rem;
            border-radius: $radius-full;
        }
    }

    .pagination {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        margin-top: -3rem;

        @media (min-width: $screen-md) {
            margin-top: 0;
        }

        a {
            display: flex;
            align-items: center;
            text-decoration: none;

            span:first-of-type {
                text-decoration: underline;
            }
        }

        .material-icons {
            font-size: 1rem;
        }
    }

}