.attached-documents {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    @media (min-width: $screen-md) {
        flex-direction: row;
        row-gap: 1.5rem;
        column-gap: 4%;
    }

    .red {
        @include attached_documents('red');
    }
    .green {
        @include attached_documents('green');
    }
    .blue {
        @include attached_documents('blue');
    }
    .grey {
        @include attached_documents('grey');
    }
}