button.primary {
    @include btn('primary', 'active', 'normal');
    @include font(16px);
    width: 100%;
    @include btn-center-icon();

    @media(min-width: $screen-md) {
        @include btn('primary', 'active', 'normal');
        width: initial;
    }
}

button.secondary {
    @include btn('secondary', 'active', 'normal');
    @include font(16px);
    width: 100%;

    @media(min-width: $screen-md) {
        @include btn('secondary', 'active', 'normal');
        width: initial;
    }
}

button.terciary {
    @include btn('terciary', 'active', 'normal');
}

button.warning {
    @include btn('warning', 'active', 'normal');
}

button.dark {
    @include btn('primary', 'active', 'normal', 'dark');
}

button.disabled-dark {
    @include btn('primary', 'disabled', 'normal', 'dark');
}

button.disabled {
    @include btn('primary', 'disabled', 'normal', 'light');
}

button.secondary-dark {
    @include btn('secondary', 'active', 'normal', 'dark');
}