.filter-container {
    position: relative;
    display: inline-block;

    .btn-container {
        @include filter-button;
        padding: 0;

        .btn-filter {
            @include filter-button;
            letter-spacing: rem(0.5px);
        }
    }

    .btn-container.filter-border {
        border: 1.5px solid $black;
    }

    .btn-container-dark {
        @include filter-button(dark);
        padding: 0;

        .btn-filter {
            @include filter-button(dark);
        }

        .material-icons {
            color: $white;
        }
    }

    .filter-remove {
        background: none;
        border: none;
        padding: 0.7rem 0.2rem;
        margin-right: 0.8rem;
        margin-left: -0.6rem;
        border-radius: $radius-full;
    }

    .btn-filter-dark {
        @include filter-button(dark);
    }

    .filter-content {
        display: none;
        position: absolute;
        left: 0;
        padding: 1rem;
        min-width: rem(320px);
        background-color: $bg-white;
        border: 1px solid $grey-03;
        border-radius: $radius-large;
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.05), 0px 25px 35px rgba(0, 0, 0, 0.03);
        z-index: 10;

        .btn-filter-rmv {
            background: none;
            border: none;
            text-decoration: underline;
        }

        .filter-header {
            display: flex;
            justify-content: space-between;
            border-bottom: 1px solid $grey-03;
        }

        .filter-main {
            border-bottom: 1px solid $grey-03;
            padding-top: 0.8rem;

            .search-bar {
                margin-bottom: 0;

                input[type=text] {
                    min-height: auto;
                }
            }
        }

        .filter-footer {
            display: flex;
            justify-content: space-between;
            padding-top: 0.8rem;
        }
    }

    .show {
        display: block;
    }
}
