footer {
    background-color: $grey-04;
    padding: rem(60px) 0rem;

    .features-row {
        border-bottom: 4px solid $black;
        padding-bottom: 2rem;

        .feature-container {
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            gap: rem(25px);
            padding: 0rem 1.5rem;

            @media (min-width: $screen-md) {
                border-right: 1px solid $grey-03;
            }

            .material-icons-outlined {
                font-size: rem(40px);
            }
        }

       .col-md:last-child .feature-container {
            border: none;
       }
    }

    .links-row {
        margin-top: 2rem;
        padding: 0rem 2rem;

        @media (min-width: $screen-md) {
            padding: 0;
        }

        .links-heading {
            @include font(16px, bold);
        }

        ul {
            list-style: none;
            padding: 0;

            a {
                @include font(14px);
                color: $grey-01;
                text-decoration: none;
            }
        }
    }

    .time-row {
        border-bottom: 1px solid $grey-02;
        align-items: center;
        padding-bottom: 0.5rem;

        @media (min-width: $screen-md) {
            margin-top: 2rem;
        }


        .legal-links {
            display: none;

            @media (min-width: $screen-md) {
                display: block;
            }

            ul {
                list-style: none;
                padding: 0;
                margin: 0;
                display: flex;
                gap: 1rem;
            }
        }

        .time-column {
            display: flex;
            justify-content: flex-start;

            @media (min-width: $screen-md) {
                justify-content: flex-end;
            }

            p {
                margin: 0;
            }
        }

        .language-selector {
          padding: 0.5rem;
          display: block;

          @media (min-width: $screen-md) {
            display: none;
          }

          .dropdown-button {
            padding: 0;
            border: 0;
          }

          .dropdown-content {
            right: unset;
          }
        }
    }

    .logos-row {
        padding: 0 0.8rem;

        @media (min-width: $screen-md) {
            padding: 0;
        }

        .logos-container {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;
            gap: 1rem;
            margin-top: 0.6rem;

            @media (min-width: $screen-md) {
                flex-direction: row;
                align-items: center;
            }

            .entity-logo {
                display: flex;
                gap: 0.5rem;
                align-items: center;

                img {
                    width: 40px;
                    height: 40px;
                }
            }

            .credits-container {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: flex-start;
                gap: 0.8rem;
                width: 100%;

                @media (min-width: $screen-md) {
                    flex-direction: row;
                    align-items: center;
                    width: auto;
                }

                p {
                    margin: 0;
                }

                .credits-logos {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 0.8rem;
                    width: 100%;

                    @media (min-width: $screen-md) {
                        flex-direction: row;
                        align-items: center;
                        width: auto;
                    }

                   div:first-of-type {
                        border-bottom: 1px solid $grey-02;
                        padding-bottom: 0.6rem;
                        width: 100%;

                        @media (min-width: $screen-md) {
                            border-bottom: none;
                            padding-bottom: 0;
                            border-right: 1px solid $grey-02;
                            padding-right: 0.6rem;
                        }
                    }
                }
            }
        }
    }


}
