input.field, select.field {
    border: 2px solid $black;
    border-radius: 2px;
    min-height: 2.5rem;
    width: 100%;
}

input::placeholder {
    @include font(16px, normal, 24px);

    @media (min-width: $screen-md) {
        @include font(16px, normal, 24px);
    }

    @media (min-width: $screen-lg) {
        @include font(16px, normal, 24px);
    }
}

input[aria-invalid="true"] {
    border-color: $error;
}

.select-input {
    width: 100%;
    position: relative;
    padding: 0.5rem 0rem 1rem 0rem;

    input {
        width: 100%;

        &::placeholder {
            text-align: right;
        }
    }

    select {
        position: absolute;
        min-width: 4rem;
    }
}