.login-modal {
    position: absolute;
    right: 0;
    top: 0;
    height: 100vh;
    width: 0;
    background-color: $white;
    overflow-x: hidden;
    z-index: 15;

    @media (min-width: $screen-md) {
        position: fixed;
        width: 0;
    }

    .field-legend {
        display: flex;
        justify-content: space-between;
    }

    fieldset {
        border: none;
        padding: 0;
    }

    .close-modal-container {
        display: flex;
        justify-content: flex-end;
        padding-bottom: 2rem;

        .close-modal {
            background: none;
            border: none;
        }
    }

    .send-code {
        width: 100%;
    }
}

.modal-overlay {
    display: none;
    background-color: rgba($grey-01, 0.2);
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 10;
}

.modal-overlay.show {
    display: block;
}

.login-modal.show { 
    width: 100%;
    transition: width 0.2s linear;
    padding: 1.5rem;

    @media (min-width: $screen-md) {
        position: absolute;
        width: 30%;
        padding: 3rem;
    }
}