.search-bar {
    position: relative;
    display: flex;
    align-items: center;
    border: 2px solid $black;
    border-radius: $radius-small;

    input[type=text] {
        width: 100%;
        min-height: rem(56px);
        border: none;
        padding: rem(12px) rem(16px) rem(12px) rem(12px);
        

        &::placeholder {
            @include font(14px);
            color: $grey-01;

            @media (min-width: $screen-md) {
                @include font(16px);
            }
        }
    }

    button {
        position: absolute;
        right: 0;
        background: none;
        border: none;
        height: 100%;

        .material-icons {
            font-size: 1.2rem;
        }
    }
}