@mixin attached_documents($type) {
    $document-color: rgba(218, 54, 2, 1);

    @if $type == 'red' {
        $document-color: rgba(218, 54, 2, 1);
    }
    @else if $type == 'green' {
        $document-color: rgba(18, 135, 86, 1);
    }
    @else if $type == 'blue' {
        $document-color: rgba(0, 92, 209, 1);
    }
    @else if $type == 'grey' {
        $document-color: $grey-01;
    }


    display: flex;
    align-items: flex-end;
    min-height: rem(136px);
    border: 1px solid $grey-03;
    border-radius: $radius-medium;
    width: 100%;

    @media (min-width: $screen-lg) {
        min-width: 48%;
    }

    .data {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 0.3rem;
        width: 100%;
        background-color: $grey-04;
        border-top: 1px solid $grey-03;
        padding: 0.5rem;
        position: relative;

        .document-title {
            display: flex;
            gap: 0.5rem;
            align-items: flex-start;
            padding-right: 1rem;

            .doc-link {
                text-decoration: none;
                word-break: break-word;
            }
        }

        .panel {
            display: none;
            flex-direction: column;
            padding-left: 1.6rem;

            .document-btn {
                margin-top: 0.2rem;
                margin-bottom: 0;
                padding: 0.3rem 0.5rem;
                width: fit-content;

                .material-icons {
                    font-size: 1.1rem;
                    color: $black;
                }
            }
        }

        .icon {
            width: 20px;
            height: 20px;
        }

        .shapes {
            display: flex;
            position: absolute;
            bottom: -1px;
            right: -1px;

            .shape-shadow {
                width: 0;
                height: 0;
                border-left: 10px solid transparent;
                border-top: 10px solid transparent;
                border-right: 10px solid rgba(27, 33, 36, 0.1);
                border-bottom: 10px solid rgba(27, 33, 36, 0.1);
                margin-bottom: -0.5rem;
            }

            .shape-color {
                width: 0;
                height: 0;
                border-left: 10px solid $document-color;
                border-top: 10px solid $document-color;
                border-right: 10px solid $white;
                border-bottom: 10px solid $white;
            }
        }
    }

    &:hover, &.active {
        align-items: stretch;

        .data {
            border-top: none;
            flex-direction: column;
        }
        
        .panel {
            display: flex;
        }
    }
}