@mixin attached_documents($type) {
    $document-color: rgba(218, 54, 2, 1);

    @if $type == 'red' {
        $document-color: rgba(218, 54, 2, 1);
    }
    @else if $type == 'green' {
        $document-color: rgba(18, 135, 86, 1);
    }
    @else if $type == 'blue' {
        $document-color: rgba(0, 92, 209, 1);
    }
    @else if $type == 'grey' {
        $document-color: $grey-01;
    }


    display: flex;
    align-items: flex-end;
    min-height: rem(136px);
    border: 1px solid $grey-03;
    border-radius: $radius-medium;
    overflow: hidden;

    .data {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 0.3rem;
        width: 100%;
        background-color: $grey-04;
        border-top: 1px solid $grey-03;
        padding: 0.5rem;
        position: relative;

        .icon {
            width: 20px;
            height: 20px;
        }

        .shapes {
            display: flex;
            position: absolute;
            bottom: -1px;
            right: -1px;

            .shape-shadow {
                width: 0;
                height: 0;
                border-left: 10px solid transparent;
                border-top: 10px solid transparent;
                border-right: 10px solid rgba(27, 33, 36, 0.1);
                border-bottom: 10px solid rgba(27, 33, 36, 0.1);
                margin-bottom: -0.5rem;
            }

            .shape-color {
                width: 0;
                height: 0;
                border-left: 10px solid $document-color;
                border-top: 10px solid $document-color;
                border-right: 10px solid $white;
                border-bottom: 10px solid $white;
            }
        }
    }
}