@mixin btn($type, $state: active, $btn-size: normal, $color-mode: light, $btn-radius: large) {
    // Size variations
    $btn-font-size: $font-base-size;
    $border-radius: $radius-large;

    @if $btn-size == 'small' {
        $btn-font-size: 16px;
        padding: rem(8px) rem(16px);
    } 
    @else if $btn-size == 'normal' {
        $btn-font-size: $font-base-size;
        padding: rem(10px) rem(24px);
    }
    
    // Button radius changes
    @if $btn-radius == 'medium' {
        $border-radius: $radius-medium;
    }
    @else if $btn-radius == 'small' {
        $border-radius: $radius-small;
    }

    // General styles
    border: none; // Remove HTML button native border styling
    background: none; //Remove HTML button native background
    border-radius: $border-radius;
    @include font($btn-font-size);
    margin-bottom: 0.5rem;
    cursor: pointer;
    position: relative;

    // Button types
    @if $type == 'primary' {
        @if $state == 'active' {
            @if $color-mode == 'light' {
                background-color: $btn-main-color;
                color: $font-white;

                &:hover {
                    background-color: $btn-primary-hover;
                }

                &:active {
                    background-color: $btn-primary-pressed;
                }
            }
            @else if $color-mode == 'dark' {
                background-color: $btn-white;
                color: $black;
           
                &:hover {
                    background-color: $btn-primary-dark-hover;
                }
           
                &:active {
                    background-color: $btn-primary-dark-hover;
                }
            }
        } 
        @else if  $state == 'disabled' {
            background-color: $btn-disabled-gray;
            color: $btn-disabled-gray-font;
        }
    }

    @if $type == 'secondary' {
        @if $state == 'active' {
            @if $color-mode == 'light' {
                color: $font-dark;
                border: 1px solid $black;

                &:hover {
                    color: $btn-main-color;
                    border: 1px solid $btn-main-color;
                }

                &:active {
                    color: $btn-main-color;
                    border: 1px solid $btn-main-color;
                    background-color: $btn-secondary-pressed;
                }

            }
            @else if $color-mode == 'dark' {
                color: $btn-white;
                border: 1px solid $btn-white;
           
                &:hover {
                    background-color: $btn-secondary-dark-hover;
                    color: $btn-white;
                }
           
                &:active {
                    background-color: $btn-secondary-dark-hover;
                    color: $btn-white;
                }
            }
        } 
        @else if  $state == 'disabled' {
            background-color: $btn-disabled-gray;
            color: $btn-disabled-gray-font;
        }
    }

    @if $type == 'terciary' {
        @if $state == 'active' {
            background-color: $btn-white;
            color: $btn-main-color;

            &:hover {
                border-radius: $border-radius;
                color: $btn-main-color;
                background-color: $btn-terciary-hover;
            }

            &:active {
                color: $btn-main-color;
                background-color: $btn-terciary-pressed;
            }
        } 
        @else if  $state == 'disabled' {
            background-color: $btn-disabled-gray;
            color: $btn-disabled-gray-font;
        }
    }

    @if $type == 'warning' {
        @if $state == 'active' {
            background-color: $error;
            color: $btn-white;

            &:hover {
                color: $btn-white;
                background-color: $btn-error-hover;
            }

            &:active {
                color: $btn-white;
                background-color: $btn-error-pressed;
            }
        } 
        @else if  $state == 'disabled' {
            background-color: $btn-disabled-gray;
            color: $btn-disabled-gray-font;
        }
    }
}

@mixin btn-center-icon() {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: .3rem;
}