@mixin state-tag($state: warning) {
    display: flex;
    align-items: center;
    gap: 0.3rem;
    border-radius: 100px;
    padding: 0.3rem 1rem;
    width: fit-content;

    p {
        margin: 0;
    }
    
    @if $state == 'warning' {
        background-color: $warning;
        color: $dark;

        p {
            color: $dark;
        }
    }
    @else if $state == 'open' {
        background-color: $success;
        color: $white;

        p {
            color: $white;
        }
    }
    @else if $state == 'closed' {
        background-color: $error;
        color: $white;

        p {
            color: $white;
        }
    }


}