$primary-color-main: #118151;
$primary-color-darker: #0E6C44;
$primary-color-lighter: #37956D;
$primary-color-subtle: #E2F0EA;

// Button variations of main color
$btn-primary-hover: adjust-color($primary-color-main, $alpha: -0.15);
$btn-primary-pressed: darken($primary-color-main, 5%) ;
$btn-secondary-pressed: adjust-color($primary-color-main, $alpha: -0.92);
$btn-terciary-hover: adjust-color($primary-color-main, $alpha: -0.92);
$btn-terciary-pressed: adjust-color($primary-color-main, $alpha: -0.84);
