$primary-color-main: #A91DCE;
$primary-color-darker: #8E18AD;
$primary-color-lighter: #B741D6;
$primary-color-subtle: #F5E4F9;

// Button variations of main color
$btn-primary-hover: adjust-color($primary-color-main, $alpha: -0.15);
$btn-primary-pressed: darken($primary-color-main, 5%) ;
$btn-secondary-pressed: adjust-color($primary-color-main, $alpha: -0.92);
$btn-terciary-hover: adjust-color($primary-color-main, $alpha: -0.92);
$btn-terciary-pressed: adjust-color($primary-color-main, $alpha: -0.84);