$primary-color-main: #005CD1;
$primary-color-darker: #004DB0;
$primary-color-lighter: #2976D8;
$primary-color-subtle: #E0EBF9;





// $red: color.red($primary-color-main);
// $green: color.green($primary-color-main);
// $blue: color.blue($primary-color-main);

// $hover: rgb(calc($red + 38), calc($green + 38), calc($blue+ 38));