// Include color vars, only leave the color you want to use uncommented
// @import './color-blue.scss';
@use './color-blue.scss';
@use './color-green.scss';
@use './color-red.scss';
@use './color-purple.scss';
@use './color-indigo.scss';
@use 'sass:meta';

// SASS to CSS maping to include diferent color variations
body {
    @each $name, $value in meta.module-variables("color-blue") {
        --#{$name}: #{$value};
    }
}

body.green {
    @each $name, $value in meta.module-variables("color-green") {
        --#{$name}: #{$value};
    }
}

body.red {
    @each $name, $value in meta.module-variables("color-red") {
        --#{$name}: #{$value};
    }
}

body.purple {
    @each $name, $value in meta.module-variables("color-purple") {
        --#{$name}: #{$value};
    }
}

body.indigo {
    @each $name, $value in meta.module-variables("color-purple") {
        --#{$name}: #{$value};
    }
}

//CSS variables to SASS maping
$primary-color-main: var(--primary-color-main);
$primary-color-darker: var(--primary-color-darker) ;
$primary-color-lighter: var(--primary-color-lighter);
$primary-color-subtle: var(--primary-color-subtle);

$btn-primary-hover: var(--btn-primary-hover);
$btn-primary-pressed: var(--btn-primary-pressed);
$btn-secondary-pressed: var(--btn-secondary-pressed);
$btn-terciary-hover: var(--btn-terciary-hover);
$btn-terciary-pressed: var(--btn-terciary-pressed);

// Grey scale
$black: #1B2124;
$grey-01: #656D72;
$grey-02: #B1B4B6;
$grey-03: #E5E6E8;
$grey-04: #F5F5F6;
$white: #FFFFFF;
$white-subtle: rgba(255, 255, 255, 0.72);

// Support colors
$visited-links: #7048E8;
$error: #DA0250;
$warning: #FFD06A;
$success: #14857A;
$info: #005CD1;


// Accent colors
$accent-6: #3F51B5;

// Backgrounds
$bg-lightgray: $grey-04; 
$bg-dark: $black;
$bg-white: $white;

// Fonts
$font-dark: $black;
$font-light: $grey-01;
$font-white: $white;
$font-main-color: $primary-color-main;

$font-base-size: 18px;
// $font-base-size-mobile: 16px;

$font-family: 'Inter', sans-serif;

// Buttons
$btn-main-color: $primary-color-main;
$btn-white: $white;

$btn-primary-dark-hover: darken($btn-white, 4%);
$btn-secondary-dark-hover: adjust-color($btn-white, $alpha: -0.85);
$btn-error-hover: adjust-color($error, $alpha: -0.15);
$btn-error-pressed: darken($error, 5%);

// Primary button states
$btn-disabled-gray: #E5E6E8;
$btn-disabled-gray-font: #B1B4B6;


// $border-radius: 12px;
$radius-large: 12px;
$radius-medium: 8px;
$radius-small: 4px;
$radius-full: 100px;


// Breakpoints

$screen-sm:               576px !default;
$screen-md:               768px !default;
$screen-lg:               992px !default;
$screen-xl:               1200px !default;
$screen-xxl:              1400px !default;
$screen-3xl:              1600px !default;
$screen-4xl:              1800px !default;
$screen-5xl:              2000px !default;